.bg-light-grey {
    background-color: $light-grey;
}

.bg-antique-white {
    background-color: $antique-white;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-white {
    background-color: $white;
}