$primary: #277DA3;
$primary-variant: #5095B3;
$secondary: #DD7223;
$secondary-varaint: #F08A3F;
$light-grey: #f5f5f5;
$white: #ffffff;
$error: #B00020;
$cobalt: #243990;
$antique-white: #f9f9f9;
$green: #5fac28;
$black : rgba(0, 0, 0, 0.8);